html {
  font-family: 'Roboto', sans-serif;
}

.transcript {
  font-style: italic;
}

td {
    display: table-cell;
    padding-right: 50px;
    vertical-align: inherit;
}

table {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}
